@model TechWall.ViewModels.Cart

<div class="wrapper wrapper-content animated fadeInRight">
    @{
        decimal total = 0;
    }


    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="float-right">(<strong>@Model.CartItems.Count</strong>) items</span>
                    <h5>Items in your cart</h5>
                </div>
                @foreach (var item in Model.CartItems)
                {
                    total = total + item.Price;
                    <div class="ibox-content">


                        <div class="table-responsive">
                            <table class="table shoping-cart-table">

                                <tbody>
                                    <tr>
                                        <td width="90">
                                            @*<div class="cart-product-imitation">*@
                                              <img class="img-fluid" src="@Url.Content(item.pictureUrl)"/>
                                            @*</div>*@
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="@Url.Action("ProductDetails", "Home", new { id = item.ProductId })" class="text-navy">
                                                    @item.Name
                                                </a>
                                            </h3>
                                            @*<p class="small">
                                                    It is a long established fact that a reader will be distracted by the readable
                                                    content of a page when looking at its layout. The point of using Lorem Ipsum is
                                                </p>
                                                <dl class="small m-b-none">
                                                    <dt>Description lists</dt>
                                                    <dd>A description list is perfect for defining terms.</dd>
                                                </dl>*@

                                            <div class="m-t-sm">
                                                @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                                                {
                                                    @Html.Hidden("ProductId", item.ProductId)
                                                    <button type="submit" class="btn btn-xs btn-outline btn-danger"><i class="fa fa-trash"></i> Remove item</button>
                                                }
                                            </div>
                                        </td>


                                        <td width="65">
                                            <input type="text" class="form-control" placeholder="@Url.Content(item.Quantity.ToString())">
                                        </td>
                                        <td>
                                            <h4>
                                                € @item.SubTotal
                                            </h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                }
                <div class="ibox-content">

                    <a href="@Url.Action("Index","Home")" class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</a>

                </div>

            </div>

        </div>
        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                        € @Model.Total
                    </h2>

                    <hr />

                    <div class="m-t-sm">
                        <div class="btn-block">

                            <div class="form-group">
                                <form id="paypalContainer" method="post" action="@Url.Action("Checkout", "Home")"></form>
                                <script>
                                    window.paypalCheckoutReady = function() {
                                        paypal.checkout.setup('JWNT5JQTPXRZC',
                                        {
                                            environment: 'sandbox',
                                            container: 'paypalContainer'
                                        });
                                    };
                                </script>
                                <script src="//www.paypalobjects.com/api/checkout.js" async></script>
                            </div>

                            @*<a href="#" class="btn btn-primary btn-lg"><i class="fa fa-shopping-cart"></i> Pay with Credit Card</a>*@
                            @*<a href="@Url.Action("Checkout", "Home")" class="btn btn-social btn-lg" style="background-color:#00398F;color:white"><i class="fa fa-paypal"></i> Paypal</a>*@


                        </div>
                        <div class="btn-block">
                            @using (Html.BeginForm("Clear", "Home", FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-danger btn-sm"> Cancel</button>
                            }
                            @*<a href="#" onclick="@Model.CartItems.RemoveAll(s => s.ProductId == s.ProductId)" class="btn btn-danger btn-sm"> Cancel</a>*@
                        </div>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Support</h5>
                    </div>
                    <div class="ibox-content text-center">



                        <h3><i class="fa fa-phone"></i> +210 99 66 444</h3>
                        <span class="small">
                            Please contact with us if you have any questions. We are avalible 24h.
                        </span>


                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

@*
    <div class="heads" style="background: url(/public/img/brewery-back1.jpg) 50% 27%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Shopping Cart</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container">
            <div class="row confirm">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Beer</th>
                                <th class="text-right">Price</th>
                                <th class="text-right">Quantity</th>
                                <th class="text-right">Sub Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td class="text-right">$@(item.Price)</td>
                                    <td class="text-right">@item.Quantity</td>
                                    <td class="text-right">$@(item.Price * item.Quantity)</td>
                                    <td class="text-right">
                                        @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                                        {
                                            @Html.Hidden("ProductId", item.ProductId)
                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                        }
                                    </td>
                                </tr>
                            }
                            @if (!Model.CartItems.Any())
                            {
                                <tr>
                                    <td colspan="5">No items in shopping cart</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"><strong>Total</strong></td>
                                <td class="text-right"><strong>$@(Model.CartItems.Sum(x => x.Price * x.Quantity))</strong></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

*@
