@using TechWall.Models
@model LoginViewModel

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-lg-11">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6 b-r">
                        <h3 class="m-t-none m-b">Sign in</h3>
                        <p>Sign in today for more expirience.</p>
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">

                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-lg btn-block btn-primary" type="submit" value="Sign in" />
                                </div>



                            }
                        </section>
                        <a href="@Url.Action("ForgotPassword","Account")" class="btn btn-block btn-dark">
                            <span></span> Forgot your Password?
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <h4>Not a member?</h4>
                        <p>You can create an account:</p>

                        <a href="@Url.Action("Register", "Account")" class="btn btn-block btn-dark">
                            <span></span> Sign up with your e-mail
                        </a>


                        <hr />
                        <div class="col-md-offset-2 col-md-12">
                            <section id="socialLoginForm">
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                            </section>
                        </div>


                    </div>
                </div>
                <div class="row"> <img src="~/Content/img/animated.gif" style="width:100%" /></div>
            </div>
        </div>

    </div>



</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
